/*HEADER SECTION*/
.header {
  display: inline-flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  min-height: 69px;
  padding: 10px;
  border-bottom: 1px seashell;
}
.navigation {
  justify-content: flex-end;
}
.nav-link {
  display: inline-flex;
  align-items: center;
  min-height: 69px;
}
.features-link {
}

.header .logo {
  display: inline-flex;
  justify-items: flex-start;
  align-items: center;
  flex-basis: 100px;
}
.header .a {
  color: seashell;
  text-decoration: underline;
}
/*Revisit the header section -- Alignment not quite right*/

/*MISSION SECTION*/
#mission {
  max-height: 700px;
  background-image: url("./img-mission-background.jpg");
}
.mission-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 700px;
  width: 1200px;
}

/*TEA OF THE MONTH SECTION*/
.tom-img {
  display: inline-flex;
}
img {
  max-height: 200px;
}
