/* Compare result with this sample site: https://charlieh94.github.io/TeaCozy/ */

body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color: seashell;
  opacity: 0.9;
}
h2 {
  text-align: center;
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h4 {
  text-align: center;
}
p {
  font-size: 22px;
}

/*HEADER SECTION*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 69px;
  overflow: hidden;
  background-color: black;
  border-bottom: 1px solid seashell;
}
.navigation {
  justify-content: flex-end;
}
/* REVISE HTML TO MAKE LINKS IN UNORDERED LIST, RESIZE TEXT */
.nav-link {
  display: inline-flex;
  align-items: center;
  min-height: 69px;
}
.features-link {
}
/* RESIZE LOGO -- CURRENTLY TOO BIG */
.header .logo {
  display: inline-flex;
  justify-items: flex-start;
  align-items: center;
  flex-basis: 100px;
}
.header .a {
  color: seashell;
  text-decoration: underline;
}
/*Revisit the header section -- Alignment not quite right*/

/*MISSION SECTION*/
#mission {
  display: block;

  height: 700px;
  width: 100%;
  max-width: 1200px;
  background-image: url("./img-mission-background.jpg");
  margin: 0% auto;
}
/*image opacity*/

.mission-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  height: 700px;
  width: 100%;
  max-width: 1200px;
  padding: 0;
  margin: auto;
}
.mission-container-text {
  display: block;
  flex-direction: column;
  background-color: black;
  width: 100%;
}
.mission-container-text h2 {
  margin: 0;
  padding: 10px;
}
/* Not sure how to format the text bit in the middle of the mission-container... */

/*TEA OF THE MONTH SECTION*/
.tom-container {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
  padding: 100px;
}
.tom-img {
  text-align: justify;
  max-width: 300px;
}
.tom-img img {
  display: block;
  margin: 0 auto;
  max-height: 200px;
  max-width: 300px;
}
.tom-img p {
  text-align: center;
}

/* LOCATIONS SECTION */
.location-container {
  display: inline-flex;
  justify-content: center;
}
/* CAN'T GET LOCATION CONTAINERS TO CENTER IN SECTION */
