/* Compare result with this sample site: https://charlieh94.github.io/TeaCozy/ */

body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color: seashell;
  opacity: 0.9;
}
h2 {
  display: block;
  text-align: center;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
/*Need to update the H2 and H4 sizes. They're currently too small.*/
h4 {
  text-align: center;
}
p {
  font-size: 22px;
}

/*HEADER SECTION*/
.header {
  background-color: black;
  border-bottom: 1px solid seashell;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  overflow: hidden;
}
.navigation ul {
  padding-right: 10px;
  margin: 0;
  display: flex;
}
.navigation li {
  text-decoration: underline;
  display: inline-flex;
  padding: 0 10px;
}
ul {
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.navigation img {
  height: 50px;
  padding: 10px;
}
.navigation a {
  color: seashell;
  text-decoration: underline;
}

/*MISSION SECTION*/
#mission {
  display: block;

  height: 700px;
  width: 100%;
  max-width: 1200px;
  background-image: url("./img-mission-background.jpg");
  margin: 0% auto;
}
/*image opacity*/

.mission-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  height: 700px;
  width: 100%;
  max-width: 1200px;
  padding: 0;
  margin: auto;
}
.mission-container-text {
  display: block;
  flex-direction: column;
  background-color: black;
  width: 100%;
}
.mission-container-text h2 {
  margin: 0;
  padding: 10px;
}
/* Not sure how to format the text bit in the middle of the mission-container... */

/*TEA OF THE MONTH SECTION*/
.tom-container {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
  padding: 100px;
}
.tom-img {
  text-align: justify;
  max-width: 300px;
}
.tom-img img {
  display: block;
  margin: 0 auto;
  max-height: 200px;
  max-width: 300px;
}
.tom-img p {
  text-align: center;
}

/* LOCATIONS SECTION */
.location-container {
  display: inline-flex;
  justify-content: center;
}
/* CAN'T GET LOCATION CONTAINERS TO CENTER IN SECTION */
